
#item-container {
    width: 100%;
    height: calc(100% - 75px);
    //height: 100%;
    margin-top: 75px;
    margin-bottom: 30px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    overflow: hidden;
    
}
#item-container .black-overlay {
    position: fixed; // ex absolute;
    z-index: 2;
    width: 100%;
    height: calc(100% - 75px);
    opacity: .75;
    /* layer alpha */
    background-color: #090d12;
    /* layer fill content */
    display: none;
    left: 0;
    right: 0;
}
#item {
    z-index: 1;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
#item .cover {
    z-index: 1;
    background-size: 134px 196px;
    width: 134px;
    height: 196px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px;
    cursor: pointer;
    background-image: url('../images/Placeholder.png')
    
    
    
}
#item .itemoverlay {
    background: rgba(45, 117, 223, .70);
    text-align: center;
    width: 134px;
    height: 196px;
    opacity: 0;
    border-radius: 4px;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
    
    
    
    
}
#item .itemoverlay .addtofavorites {
    background: url('../images/AddToFavorites.png') no-repeat 0px center;
    width: 25px;
    height: 20px;
    margin-top: 65%;
    margin-left: 22px;
    float: left;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
#item .itemoverlay .addtofavorites:hover {
    opacity: .60;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
#item .itemoverlay .viewmoreinfo {
    background: url('../images/ViewMoreInfo.png') no-repeat 0px center;
    width: 25px;
    height: 20px;
    margin-top: 65%;
    margin-left: 10px;
    margin-right: 15px;
    float: left;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
    
    
    
}
#item .itemoverlay .viewmoreinfo:hover {
    opacity: .60;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
#item .itemoverlay .addtoqueue {
    background: url('../images/AddToQueue.png') no-repeat 0px center;
    width: 25px;
    height: 20px;
    margin-top: 65%;
    float: left;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
#item .itemoverlay .addtoqueue:hover {
    opacity: .60;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
#item .cover:hover .itemoverlay {
    opacity: 1;
}
#item .title {
    z-index: 1;
    margin-top: 10px;
    color: #fff;
    /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    max-width: 134px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#item .year {
    z-index: 1;
    color: #5b5b5b;
    /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
}

#emptymessage {
margin-left:-100px;
margin-top:-30px;
color:white;
position:absolute;
left:50%;
top:50%;
font-family: "Open Sans", sans-serif;
}
