#player {
	width: 100%;
	height: 500px;

}




#player .header .backround{
    position: absolute;
    	width: 100%;
	height: 75px;
    opacity: .6; /* layer alpha */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEyOTAgNzUiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTI5MCIgaGVpZ2h0PSI3NSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, #000 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0) 0%, #000 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, #000 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,0) 0%, #000 100%); /* gradient overlay */

z-index: 3;
}

#player .header{
position: absolute;
	width: 100%;
	height: 75px;
	
}

#player .header .text {
    position: absolute;
    top: 18px;
    left: 16px;
	color: #fff; /* text color */
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
    width: 533px;
z-index: 3;

} 


